header {
  h1 {
    font-family: sans-serif;
  }
  div {
    a {
      font-size: 25px;
      margin: 5px;
      color: white;
    }
    margin-top: 25px;
  }
  background-color: rgb(6, 134, 253);
  display: flex;
  justify-content: space-between;
}
